@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap')
;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;;
}

html, body {
    height: 100%;
    width: 100%;
}
.page1{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 235, 222);
    position: relative;
    padding: 0 2vw;
}
.nav{
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav img{
    width: 100%; 
    max-width: 200px;
    height: auto; 
}


.nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-part2 h4{
    padding : 10px 20px;
    border: 1px solid rgba(72, 71, 71, 0.397);
    border-radius: 50px;
    color:#000;
    position: relative;
    transition: all ease 0.3s;
    font-weight: 500;
    overflow: hidden;
}

.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #107CF1;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0%;
}
.nav-part2 h4 a{
    color: #00000b;
    text-decoration:none;
    position: relative;
    z-index: 9;
}
.nav-part2 h4:hover a{
    color:#fff;
}
.center{
    height: 65vh;
    width: 100%;
    display:flex;
    align-items: flex-end;
    justify-content:space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}
.left h3{
    width:25vw;
    font-size:1.8 vw;
    line-height: 2vw;
}
.center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}
.page1 video{
    position: relative;
    margin-top: 4vw;
    border-radius: 30px;
    width: 100%;

}
.hero-shape{
    position:absolute;
    width : 46vw;
    height: 46vw;
    right:0;
    top: 70vh;
}
.hero-1{
    height: 100%;
    width:100%;
    background-color: #2b90fd;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}
.hero-2{
    height: 30vw;
    width:30vw;
    background: linear-gradient(#2b90fd, #5dabff);
    border-radius:  50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anim2;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}
.hero-3{
    height: 30vw;
    width:30vw;
    background: linear-gradient(#2b90fd, #5dabff);
    border-radius:  50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anim1;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}

@keyframes anim1 {
    from{
        transform: translate(55%, -3%);
    }
    to{
        transform: translate(10%, 10%);
    }
    }
@keyframes anim2 {
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-20%, 30%);
    }
    }
    .page2{
        background-color: rgb(255, 235, 222);
        padding: 8vw 0;
        min-height:100vh;
        width: 100%;
        position: relative;
    }
    .moving-text{
        overflow-x: auto;
        white-space: nowrap;
    }
    .moving-text::-webkit-scrollbar{
        display:none;
    }
    .con{
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .moving-text h1{
        font-size: 10vw;
        display: inline-block;
    }
    .bullet{
        height: 40px;
        width : 40px;
        border-radius:50%;
        background-color:#2b90fd;
        display: inline-block;
        margin:1vw 2vw;
    }

    @keyframes move {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
    }
    .page2-bottom{
        height: 80vh;
        width: 100%;
        display:flex;
        padding:4.5vw;
        align-items:center;
        justify-content:space-between;
    }
    .page2-bottom h1{
        font-size: 4vw;
        width: 60%;
        line-height: 4vw;
        position: relative;
        z-index: 9;
    }
    .bottom-part2{
        width:20%;
    }
    .bottom-part2 img{
        width:100%;
        border-radius: 15px;
    }
    .bottom-part2 p{
        font-weight: 450;
        margin-top: 2vw;
        font-size: 1vw;
    }
    .page2 .mover{
        height:32vw;
        width:32vw;
        position: absolute;
        border-radius: 50%;
        background:linear-gradient(to top,#2b90fd,#84bbf5);
        top: 58%;
        left: 25%;
        animation-name: mover;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction:alternate;
        animation-timing-function: ease-in-out;

    }

    @keyframes mover {
        from{
            filter: blur(20px);
            transform: translate(10%,-10%) skew(0);
        }
        to{
            filter: blur(30px);
            transform: translate(-10%,10%) skew(-12deg);
        }
    }
    .page3{
        min-height: 100vh;
        width: 100%;
        background-color: rgb(255, 235, 222);
        padding:4vw 0;
    }

    .elem{
        height: 150px;
        width: 100%;
        position: relative;
        border-bottom: 1px solid #2424245f;
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: 0 2vw;
    }
    .elem h2{
        font-size: 3vw;
        position: relative;
        z-index:9;
    }
    .elem .overlay{
        height: 100%;
        width: 100%;
        background-color: #65a2e3;
        position:absolute;
        left:0;
        top: -100%;   
        transition: all ease 0.25s ;
    }
    .elem:hover .overlay{
        top: 0;
    }